[submodule "typ"]
	path = typ
	url = https://github.com/Myriad-Dreamin/typ.git
	branch = main
[submodule "packages/tylant"]
	path = packages/tylant
	url = https://github.com/Myriad-Dreamin/tylant.git
	branch = main
